<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Aditya Ramguru</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
</head>

<body>
  <div class="top-container">
    <img class="topcloud" src="static/images/cloud.png" alt="cloud image">
    <h1>I'm Aditya</h1>
    <p class="intro">A <span>pro</span>grammer and Tech enthusiast</p>
    <img class="bottomcloud" src="static/images/cloud.png" alt="cloud image">
    <img class="mountain" src="static/images/mountain.png" alt="mountain image">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img class="profp" src="static/images/picture.png" alt="picture">
      <h2 class="title">Hello.</h2>
      <p class="introduction">I am a budding python developer, and a computer science student at
      vellore institure of technology.</p>
    </div>
    <hr>

    <div class="skills">
      <h2 class="title">My Skills.</h2>
      <div class="skill-row">
        <img class="code" src="static/images/codegif.gif" alt="comp_picture">
        <h3 style="color:#F0A500">Development and Design</h3>
        <p class="introduction">Started coding a few months back and have been hooked since then
        ,while I know my way around python, I still am a beginner in web development.</p>
      </div>

      <div class="skill-row">
        <img class="basketball" src="static/images/basketball.png" alt="ball_picture">
        <h3 style="color:#F0A500">Basketball</h3>
        <p class="introduction">Been playing basketball for a few years now, looking forward
        to play professionally whenver possible!</p>
      </div>
    </div>
    <hr>

    <div class="contact-me">
      <h2 class="title">Get In Touch</h2>
      <h3>if you love playing basketball as much as I do.</h3>
      <p class="introduction">Love playing basketball as much as I do? Lets talk
      about how awesome they are! We can code while we are at it.</p>
      <a class="btn" href="mailto:aditya.ramguru@email.com">CONTACT ME</a>
    </div>

  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/">Twitter</a>
    <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
    <p class="copyright" style="font-size:1.5em;">© 2021 Aditya Ramguru.</p>
  </div>

</body>

</html>
